/*html, */
body {
  height: 100%;
  background-color: #2774ae;
  color: #ffffff;
}

html {
  font-size: 125%;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas:
    "header header"
    "add-event events"
    "search-event events";
  gap: 1rem;
  padding: 1rem;
  background-image: linear-gradient(#2774ae, #8bb8e8);
  background-attachment: fixed;
  background-size: cover;
}

[data-position="header"] {
  text-align: center;
  grid-area: header;
  background-color: #005587;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

[data-position="add-event"] {
  grid-area: add-event;
  background-color: #ffd100;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  color: #003b5c;
}

[data-position="search-event"] {
  grid-area: search-event;
  background-color: #ffd100;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  color: #003b5c;
}

[data-position="events"] {
  grid-area: events;
  overflow: scroll;
  background-color: #ffffff;
  color: #005587;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  /* font-size: 20px;
  font-family: sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin: 0;
}
